@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-primary: #0a9396;
    --clr-text: #101012;
    --clr-bg: #ffffff;
    --pd-body: 0 10px;
    --font-mobile: 13px;
}
body{
    padding: 10px 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--clr-bg);
}
.nav-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn span{
    font-size: 30px;
}
.nav .active{
    color: var(--clr-primary);
}

.btn{
    border: none;
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    padding: 10px 20px;
}